In [1]:
import pandas as pd
import sqlalchemy as sa
from urllib.parse import quote

In [2]:
## 1. Extract from 202.44.12.115

In [6]:
conn_str = f"mysql+pymysql://testuser:{quote('P@ssw0rd')}@202.44.12.115:3306/de_inter"
engine = sa.create_engine(conn_str)
conn = engine.connect()
chospital = pd.read_sql("chospital", conn)
conn.close()

In [5]:
chospital

     hospcode                     hospital_name
0       10868               โรงพยาบาลวังน้ำเย็น
1       10869  โรงพยาบาลชุมชน โรงพยาบาลวัฒนานคร
2       10870                   รพท. อรัญประเทศ
3       10871              รพช. โรงพยาบาลครบุรี
4       10872                      รพช. เสิงสาง
...       ...                               ...
4730    BMS01                โรงพยาบาลทดสอบ BMS
4731    xxxxx                    yyyy zzzzz www
4732   yyyyyy                    aaaa aaaa aaaa
4733     zzzz                              zzzz
4734      new                               new

[4735 rows x 2 columns]

In [8]:
## 2. Load to Localhost

In [8]:
conn_str = f"mysql+pymysql://root:@localhost:3306/de_inter"
engine = sa.create_engine(conn_str)
conn = engine.connect()
chospital.to_sql("chospital", conn, index=None, if_exists="replace")
conn.close()